body{
    font-family: Arial;
    background: #f2f2f2;
}

.container{
    width: 60%;
    margin: auto;
    margin-top: 50px;
    background: white;
    padding: 20px;
}

table{
    width: 100%;
    background: rgb(244, 234, 234);
}